body
{
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    /* text-align: center; */
}
#hr1
{
    border-radius: 0%;
    border-top-style:groove;
    border-width: 2px;
    width: 100%;
    
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color:grey;
    border-width: 4px;
    width:25%;
}
h1
{
    color:red;

}
